body {
	margin: 0;
	padding: 0;
	font-family: arial;
}

#nav-bar {
	width: 100%;
	height: 35px;
	background-color: #9f3;
}

#nav-logo {
	width: 300px;
	height: 35px;
	background-color: #f96;
	float: left;
}

#nav-btns {
	width: 500px;
	height: 35px;
	background-color: #06f;
	margin: 0 auto;
}

#nav-btns ul {
	margin: 0;
	padding: 0;
}